<h2>Default Change Detection</h2>
<p>This demo shows how change detection is performed for each
    component after every VM turn. <br>All components should light up when:</p>


<ol class="list">
    <li>The app is bootstrapped (reload browser to double-check)</li>
    <li>The "Trigger CD" button is clicked</li>
</ol>

<div>
    <button (click)="null">Trigger Change Detection</button>
</div>
<div class="tree">
    <ul>
        <li>
            <cmp-one></cmp-one>
        </li>
    </ul>
</div>
<div style="margin-bottom: 5em; clear: both;"></div>
